@font-face {
  font-family: "VoyVolando"; /* Puedes cambiar 'MiFuente' al nombre que prefieras */
  src: url("./PlayLamban-lgzO5.otf") format("opentype");
  /* Agrega otros estilos si es necesario, como font-weight y font-style */
}
* {
  margin: 0px;
  padding: 0;
  font-family: "VoyVolando";
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #000;
}
hr {
  color: #fff;
  width: 45%;
  background-color: #fff;
  margin: 0 auto;
  border: 1.5px solid #fff;
  border-radius: 3px;
}
body {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./resources/secondBack.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.general {
  width: 500px;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

/* Estilo del scrollbar para navegadores WebKit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 1px; /* Ancho del scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #ff914d; /* Color del "thumb" (la parte móvil del scrollbar) */
}

::-webkit-scrollbar-track {
  background-color: transparent; /* Color del "track" (la parte inmóvil del scrollbar) */
}

.div-central {
  width: 100%;
  position: relative;
  margin: 0 auto;
  height: 100%;
  z-index: 5;
  background-image: url(./resources/indexBack.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.central-difumination-icon {
  width: 90%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 10px;
  margin-left: 50px;
  transform: translateY(123px);
}

.div-img {
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.div-img > img {
  width: 100%;
  height: 100%;
}

.div-buttons {
  width: 75%;
  height: max-content;
  display: flex;
  flex-direction: column;
  margin-top: 140px;
  row-gap: 20px;
}

.cost-promo {
  text-align: center;
  font-size: 100px;
  margin-top: -30px;
  padding-top: 0px;
}

.button {
  display: block;
  width: max-content;
  padding: 10px;
  cursor: pointer !important;
  padding-left: 55px;
  padding-right: 55px;
  background: linear-gradient(to right, #ff3131, #ff914d);
  font-weight: bold;
  border: 4px solid #fff;
  border-radius: 7px;
  font-size: 18px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  transition: all 1s;
}

.button:hover {
  transition: all 1s;
  background: linear-gradient(to right, #ff914d, #ff3131);
}

.div-products-all {
  width: 100%;
  display: block;
  height: max-content;
  position: relative;
  background-image: url(./resources/secondBack.webp);
  background-attachment: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.div-menu {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  position: fixed;
  z-index: 0;
  top: 15px;
  left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 5;
}

.icon-menu {
  width: 50%;
  height: 50%;
}

.icon-menu > img {
  width: 100%;
  height: 100%;
}

.div-icon-voy-volando {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  position: fixed;
  bottom: 15px;
  right: 10px;
  display: flex;
  justify-content: right;
  align-items: center;
  z-index: 7;
  background-image: url(./resources/peperoniUp.webp);
  background-position: center;
  background-size: cover;
  cursor: pointer;
  transform: translateX(100px);
  transition: all 0.5s;
}
.show-up {
  transform: translateX(0px);
  transition: all 0.5s;
}

.div-img-header {
  width: 100%;
  height: auto;
}

.textnormal{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 25px;
    text-align: center;
}
.textnormaldos{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 10px;
    text-decoration: underline;
    text-decoration-color: #ff3131;
    color: #ff3131;
}

.div-img-header > img {
  width: 100%;
  height: 100%;
}

h2 {
  display: block;
  font-size: 180px;
  color: #fff;
  text-align: center;
  position: relative;
  padding-top: 100px;
  font-weight: normal;
}

h3 {
  display: block;
  font-size: 80px;
  color: #fff;
  text-align: center;
  position: relative;
  margin-top: 15px;
  font-weight: normal;
}

h4 {
  display: block;
  font-size: 30px;
  color: #fff;
  text-align: center;
  position: relative;
  margin-top: 5px;
  font-weight: normal;
}

.cost {
  display: flex;
  flex-direction: column;
  font-size: 83px;
}
.cost > div {
  display: flex;
  flex-direction: row;
  gap: 20px;
  text-align: center;
  justify-content: center;
  font-weight: normal;
}

.color-blue-neon {
  color: #fff;
  text-shadow: 0 0 10px #38b6ff, 0 0 20px #38b6ff, 0 0 30px #38b6ff; /* Añade sombras simulando el efecto neon */
}

.color-red-neon {
  color: #fff;
  text-shadow: 0 0 10px #ff3131, 0 0 20px #ff3131, 0 0 30px #ff3131; /* Añade sombras simulando el efecto neon */
}

.separation-line {
  margin-top: 50px;
}

.color-orange {
  color: #fcb62b;
  font-weight: normal;
  z-index: 4;
}

.pizza {
  margin-bottom: 50px;
}

.img-pizza {
  width: 80%;
  margin: 0 auto;
  margin-top: 15px;
}

.img-pizza > img {
  width: 100%;
  height: auto;
  display: flex;
  margin: 0 auto;
}

.button-show-ingredients {
  border: 1px solid red;
  width: max-content;
  border-radius: 40px;
  background: linear-gradient(to right, #ff3131, #ff914d);
  margin: 0 auto;
  margin-top: 25px;
  cursor: pointer;
}

.button-show-ingredients:hover {
  transition: all 0.5s;
  background: linear-gradient(to right, #ff914d, #ff3131);
}

.button-show-ingredients > p {
  font-size: 16px;
  color: #fff;
  font-weight: bolder;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif !important;
}

.mediumn {
  width: 85%;
  margin: 0 auto;
  font-size: 55px;
  margin-top: 80px;
}

.normal-text {
  color: #fff;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 50px;
}

.ntd {
  width: 75%;
  margin: 0 auto;
  margin-top: 50px;
}

.div-img-pizza-emoji {
  width: 50%;
  height: auto;
  margin: 0 auto;
  margin-top: 30px;
}

.div-img-pizza-emoji > img {
  width: 100%;
  height: auto;
}

footer {
  display: block;
  width: 100%;
  margin-top: 70px;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./resources/footerBack.webp);
}

.div-img-voyvolando {
  transform: translateY(100px);
  width: 70%;
  height: auto;
  margin: 0 auto;
  margin-left: 100px;
}

.div-img-voyvolando > img {
  width: 100%;
  height: auto;
}

.columns-footer {
  margin: 0 auto;
  margin-top: 130px;
  width: 90%;
  display: flex;
  flex-direction: row;
}

.icono {
  width: 20px;
  height: 20px;
}

.icono > img {
  width: 100%;
  height: 100%;
}

.div-social-media {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  width: 70%;
}
.social-media {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.social-media > a {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 13px;
  vertical-align: middle;
  padding-top: 2px;
}

.div-developer {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.div-img-dev-icon {
  width: 100%;
  height: auto;
}

.div-img-dev-icon > img {
  width: 70%;
  display: flex;
  margin: 0 auto;
  height: auto;
}

.div-developer > p,
a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.div-developer > p > a {
  font-weight: bolder;
  text-decoration: underline;
  color: #fff;
}
.div-mask {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: #0000005e;
  z-index: 3;
  display: none;
}
.div-modal-ingredients{
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index:  5;
    background: #000000bb;
    transform: translateY(-100%);
    transition: all .5s;
}

.show-modal-ingredients {
    transform: translateY(0%);
    transition: all .5s;
}
.modal-ingredients{
    position: relative;
    width: 85%;
    border-radius: 25px;
    height: 500px;
    margin: 0 auto;
    margin-top: 100px;
    z-index: 6;
    background-color: #fff;
    background-image: url(./resources/backIngredients.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.div-ingredients{
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    align-items: left;
}
.div-ingredient{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.text-type-ingr{
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    font-size: 20px;

}
.img-ing{
    width: 60px;
    height: 60px;
}
.img-ing > img {
    width: 100%;
    height: 100%;
}
.times{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}


.show-mask {
  display: block;
}


.menu-general{
    position: absolute;
    top: 0;
    width: 300px;
    background: #fff;
    border-radius: 20px;
    height: 700px;
    visibility: hidden;
    z-index: 0;
    transition: all .25s;
    transform: translateY(-900px);
    padding-bottom: 50px;
    overflow-y: auto;

}

.show-menu-general{
    visibility: visible;
    z-index: 7;
    transition: all .25s;
    transform: translate(170px, 60px);
}
.title{
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
}
.navbar{
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    color: #000 !important;
   
}

.navbar > ul>  li {
    font-size: 20px !important;
    padding: 5px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif !important;
    margin-top: 10px;
    z-index: 8;
}


.hrcolor{
    border-color: black;
    width: 100%;
    margin-top: 20px;
}

.triangulo {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #fff; /* Ajusta la altura del triángulo según tus preferencias */
    position: absolute;
    top: -30px;
    left: -27px;
    transform: rotate(330deg);
  }
  
  .triangulo::before {
    content: "";
    position: absolute;
    top: -30px; /* Ajusta según la distancia vertical entre el triángulo y la punta */
    left: 0;
    border-left: 30px solid transparent; /* Ajusta la longitud de la punta según tus preferencias */
    border-right: 30px solid transparent; /* Ajusta la longitud de la punta según tus preferencias */
    border-bottom: 60px solid transparent; /* Ajusta la altura de la punta según tus preferencias */
  }
#hideMenu{
    display: none;
}
.tt{
    display: block;
    color: #000;
    padding-top: 20px;
    font-size: 30px;
}
@media screen and (max-width: 500px) {
  .general {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .div-central {
    width: 100%;
    height: 100vh;
  }

  .plast {
    margin-bottom: 130px;
  }

  h2 {
    display: block;
    font-size: 150px;
    color: #fff;
    text-align: center;
    position: relative;
    padding-top: 100px;
    font-weight: normal;
  }

  .h2-menu {
    padding-top: 0px;
    margin-bottom: 30px;
  }

  h3 {
    display: block;
    font-size: 50px;
    color: #fff;
    text-align: center;
    position: relative;
    margin-top: 15px;
    font-weight: normal;
  }

  h4 {
    display: block;
    font-size: 30px;
    color: #fff;
    text-align: center;
    position: relative;
    margin-top: 5px;
    font-weight: normal;
  }

  .cost {
    display: flex;
    flex-direction: column;
    font-size: 50px;
  }

  .promos {
    font-size: 60px;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 400px) {
  .general {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .div-central {
    width: 100%;
    height: 100vh;
  }

  
  .menu-general{
    position: absolute;
    top: 0;
    width: 300px;
    background: #fff;
    border-radius: 20px;
    height: 400px;
    visibility: hidden;
    z-index: 0;
    transition: all .25s;
    transform: translateY(-500px);
    padding-bottom: 50px;
    overflow-y: auto;

}

/* Estilo del scrollbar para navegadores WebKit (Chrome, Safari) */
.menu-general::-webkit-scrollbar {
    width: 3px; /* Ancho del scrollbar */
  }
  
  .menu-general::-webkit-scrollbar-thumb {
    background-color: #ff914d; /* Color del "thumb" (la parte móvil del scrollbar) */
  }
  
  .menu-general::-webkit-scrollbar-track {
    background-color: transparent; /* Color del "track" (la parte inmóvil del scrollbar) */
  }
  

  .show-menu-general{
    visibility: visible;
    z-index: 7;
    transition: all .25s;
    transform: translate(150px, 60px);
}

  .div-buttons {
    width: 75%;
    height: max-content;
    display: flex;
    flex-direction: column;
    margin-top: 140px;
    row-gap: 20px;
  }

  .button {
    display: block;
    width: max-content;
    padding: 10px;
    cursor: pointer !important;
    padding-left: 55px;
    padding-right: 55px;
    background: linear-gradient(to right, #ff3131, #ff914d);
    font-weight: bold;
    border: 4px solid #fff;
    border-radius: 7px;
    font-size: 12px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    transition: all 1s;
    z-index: 8;
  }
}
